header {
  position: fixed;
  background: white;
  width: 85%;
  top: 0;
  margin: 0;
}

section {
 font-family: 'Montserrat', sans-serif;
  margin: 5rem 0 0 5rem;
}

h2 {
  font-size: 36px;
  line-height: 34px;
  color: #1a1b1f;
  font-weight: 600px;
}



i { 
  font-size: 150px;
}

h6 {
  font-size: 12px !important;
  text-transform: uppercase;
  line-height: 20px !important;
  font-weight: 500px !important;
}

button {
  background: #1a1b1f;
  color: white;
  font-size: 12px !important;
  line-height: 20px !important;
  border-style: none;
  text-transform: uppercase !important;
  padding: 12px 25px;
}

.submit {
margin-top: 30px !important;
}

@media (max-width: 900px) {
  section {
   margin: 2rem 0 0 0;
   text-align: center;
  }
}

.name {
  display: inline;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder !important;
  font-size: 20px !important;
  line-height: 28px !important;
  color: #1a1b1f;
  text-decoration: underline !important;
}

.navigation {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600px !important;
  font-size: 15px !important;
  line-height: 20px !important;
  color: #32343a;
}

.home h2 {
  font-size: 25px;
}

.home h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400px;
}

.home h4 {
  font-size: 64px;
  margin-bottom: 15rem;
}

.projects-section h2 {
  padding-bottom: 15px;
}

.survey-title {
  padding-top: 25px;
}

.card {
  border: none !important;
}

.html {
  color: #DD4B25;
}

.css { 
  color: #254BDD;
}

.javaScript {
  color: #F7C327;
}

.bootstrap {
  color: #533C78;
}

.react {
  color: #61DBFB;
}

.contact-details {
  background: #f4f4f4;
  padding: 90px 0 150px 70px;
  margin-top: 50px;
  
}

.contact-details p {
  color: #1a1b1f;
  font-size: 30px;
  line-height: 45px;
}

.message-input {
  margin-top: 30px;
}

#contact {
  font-family: 'Montserrat', sans-serif;
  margin: 5rem 0 0 5rem;
}

.main-project-img:hover {
animation-name: scale-down-center;
animation-duration: 0.4s;
animation-fill-mode: forwards;
}


@keyframes scale-down-center {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}

.main-project-img {
  animation-name: scale-up-center;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.see-more {
  display: block !important;
  margin: 0, auto !important;
}




