html {
  scroll-behavior: smooth;
}

header {
  position: fixed;
  background: white;
  width: 99%;
  top: 0;
  margin: 0;
  z-index: 5;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 36px;
  line-height: 34px;
  font-weight: 600px;
}

.skills-icon {
  font-size: 150px;
}

h6 {
  font-size: 12px !important;
  text-transform: uppercase;
  line-height: 20px !important;
  font-weight: 500px !important;
}

button {
  background: #1a1b1f;
  color: white;
  font-size: 12px !important;
  line-height: 20px !important;
  border-style: none;
  text-transform: uppercase !important;
  padding: 12px 25px;
}
.button {
  margin-top: 20px;
  text-align: center;
}

h5 {
  text-align: center;
}

.nav-name,
.navigation-bar,
.link,
section {
  font-family: "Montserrat", sans-serif;
}

.nav-name,
h2,
.link,
.project-title {
  color: #1a1b1f;
}

.nav-name {
  display: inline;
  font-weight: bolder !important;
  font-size: 20px !important;
  line-height: 28px !important;
  text-decoration: underline !important;
}

.navigation-bar {
  font-weight: 600px !important;
  font-size: 15px !important;
  line-height: 20px !important;
  color: #32343a;
}

.contact,
section {
  margin: 5rem 0 0 5rem;
}

@media (max-width: 900px) {
  section {
    margin: 2rem 0 0 0;
    text-align: center;
  }

  .skills-icon {
    font-size: 100px;
  }
  .projects,
  .home-text {
    margin-top: 60px;
  }
}

.home-text {
  margin-top: 225px;
}

.home h2 {
  font-size: 25px;
}

.home h3 {
  font-size: 64px;
}

.home h4 {
  font-size: 30px;
  margin-bottom: 10rem;
}

.projects {
  margin-top: 65px;
}

.projects h2 {
  padding-bottom: 15px;
}

.main-project-img {
  z-index: 1;
}

.survey-title {
  padding-top: 25px;
}
.project-title {
  text-decoration: none;
}

.project-title:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #1a1b1f;
}

.project-img {
  animation: scale-in-center;
  animation-duration: 0.5s;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.main-project-img:hover {
  cursor: pointer;
  animation: scale-down-center;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out-quad;
}

@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.html {
  color: #dd4b25;
}

.css {
  color: #254bdd;
}

.javaScript {
  color: #f7c327;
}

.bootstrap {
  color: #533c78;
}

.react {
  color: #61dbfb;
}

.card-title {
  font-size: 16px;
}

.card {
  border: none !important;
  z-index: 1;
}

.skills {
  margin-top: 150px;
}

.about {
  margin-top: 150px;
}

.contact-details {
  background: #f4f4f4;
  margin: 50px 0 20px 0;
  padding: 20px 0 20px 0;
}

.contact-icon {
  font-size: 50px;
}

.link p {
  text-align: center;
  margin-top: 15px;
}

#home {
  height: 650px;
  display: inline-block;
}

#projects {
  height: 650px;
  display: inline-block;
}

#skills {
  height: 650px;
  display: inline-block;
}

#about {
  height: 650px;
  display: inline-block;
}

.about p {
  font-size: 20px;
  margin-top: 25px;
}

a i {
  color: black;
}
